<h1>New Product Created</h1>

<h2><%= @product.name %></h2>
<h4><%= @product.price - 1 %>.99</h4>
<div class="images" ><img src=<%= @product.image%>></div>
<h3><%= @product.description %></h3>
<h3><%= @product.release_date %></h3>

<a href="/products">Home</a>