<h1>Update Product</h1>

<div class="well2">
  <div class="container">
    <%= form_tag "/products/#{@product.id}", method: :patch do %>
      
      <div>
        <label class ="label">Name: </label><input type="text" name="name" value="<%= @product.name %>">
      </div>
      <div>
        <label class ="label">Price: </label><input type="integer" name="price" value="<%= @product.price %>">
      </div>
      <div>
        <label class ="label"> Image Link: </label><input type="text" name="image" value="<%= @product.image %>">
      </div>
      <div>
        <label class ="label"> Description: </label><input type="text" name="description" value="<%= @product.description %>">
      </div>
      <div>
        <label class ="label">Release Date: </label><input type="text" name="release_date" value="<%= @product.release_date %>">
      </div>
      <p></p>
      <input type="submit" name="Update Product">

    <% end %>
  </div>

</div>