<div class="row">

<% @products.each_slice(3) do |product_slice| %>
  <% product_slice.each do |product| %>
    <div class="col-md-4">
      <div class="well">
        <h2><a href="/products/<%= product.id %>" class = link><%= product.name %></a></h2>
        <h4>Price: <%= number_to_currency(product.price) %></h4>
        <div class="images" ><img src=<%= product.image%>></div>
        <h3>Description: <%= product.description %></h3>
        <h3>Release Date: <%= product.release_date %></h3>
      </div>
    </div>
  <% end %>
<% end %>

</div>