<h1>New Product</h1>

<% @product.errors.full_messages.each do |error| %>
  <h4><%= error %></h4>
<% end %>

<div class="well2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= form_tag "/products", method: :post do %>
        <div>
          <div>
            <label class ="label">
            <%= label_tag :name %>:
            <%= text_field_tag :name, @product.name %>
            </label>
          </div>
          
          <div>
            <label class ="label">
            <%= label_tag :price %>:
            <%= text_field_tag :price %>
            </label>
          </div>
          
          <div>
            <label class ="label">
            <%= label_tag :supplier %>
            <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
            </label>
          </div>
          
          <div>
            <label class ="label">
            <%= label_tag :description %>:
            <%= text_area_tag :description, nil, size: "25x10" %>
            </label>
          </div>

        <p></p>
      <input type="submit" name="Create New Product" class = "submitBtn">
    <% end %>
    </div>
  </div>
</div>