<div class="well3">
  <h2><%= @product.name %></h2>
  <h4><label class= <%= @product.item_discount %>><%= @product.sale_message %></label></h4>
  <h4><label class= <%= @product.item_discount %>>Price:</label> <label class= <%= @product.item_discount %>>$<%= @product.price %>.00</label></h4>
  <h4>Tax: $<%= @product.tax %></h4>
  <h4>Total: $<%= @product.total %></h4>
  <div class="images" ><img src=<%= @product.image%> class = "img"></div>
  <h3><%= @product.description %></h3>
  <h3><%= @product.release_date %></h3>

  <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-info" %>
  <%= link_to "Delete", "/products/#{@product.id}", class: "btn btn-danger", method: :delete %>
</div>
