<h2><%= @product.name %></h2>
<h4><%= @product.price - 1 %>.99</h4>
<div class="images" ><img src=<%= @product.image%>></div>
<h3><%= @product.description %></h3>
<h3><%= @product.release_date %></h3>

<a href="/products">Home</a>
<div></div>
<a class="btn btn-info" href="/products/<%= @product.id %>/edit">Edit Product</a>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input class="btn btn-danger" type="submit" value="delete product">
<% end %>